/* Global */
:root {
    /* App Colors */
    --color-primary: var(--color-black);
    --color-accent: var(--color-pink);
    --color-text: var(--color-white);

    /* Colors */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-pink: pink;
}
body {
    margin: 0;
    background-color: var(--color-primary);
}
header{
    padding: 15px;
    height: 3rem;
}
.header__back{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    border-radius: 5px;
    border: 1px solid var(--color-accent);
}
.header__back:hover {
    cursor: pointer;
}
.header__img__back{
    width: 1rem;
    color: var(--color-text);
}
.header__span__back{
    font-size: 1.3rem;
    color: var(--color-text);
}
.home__logo__img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 2px solid var(--color-accent);
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__text{
    color: var(--color-accent);
}
.memories {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
}

.memory {
    border: 1.5px solid var(--color-accent);
    border-radius: 8px;
    overflow: hidden;
}
.memory__img {
    width: 100%;
}